<div class="dropdown filtros-dropdown">
    <img class="mingcutefilter-fill"
         src="https://anima-uploads.s3.amazonaws.com/projects/63486f9b8ee4feae84ab3e5a/releases/634de48ae6df4c88bb664dc3/img/mingcute-filter-fill@2x.svg"
         alt="mingcute:filter-fill" />
    <div class="container-title">
        <div class="filtros valign-text-middle inter-semi-bold-oslo-gray-10px">Filtros</div>
    </div>
    <img class="eparrow-right-bold"
         src="https://anima-uploads.s3.amazonaws.com/projects/63486f9b8ee4feae84ab3e5a/releases/63488a4f68de92a026f42907/img/ep-arrow-right-bold@2x.svg"
         alt="ep:arrow-right-bold" />
</div>
<div class="container-filters">
    <div class="frame-71">
        <div class="frame-654"><div class="instituies inter-semi-bold-black-12">Instituições</div></div>
        <div class="frame-716">
            <div class="frame-373">
                <div class="rectangle-12"></div>
                <div class="frame-654-1">
                    <div class="grupo-empresa inter-normal-chetwode-blue-12px">Grupo Empresa</div>
                </div>
            </div>
            <div class="frame-70">
                <div class="rectangle-12-1"></div>
                <div class="frame-654-1"><div class="empresa inter-normal-black-12px">Empresa</div></div>
            </div>
            <div class="frame-70">
                <div class="rectangle-12-1"></div>
                <div class="frame-654-1"><div class="inter-normal-black-12px">Filial</div></div>
            </div>
        </div>
    </div>
    <div class="frame-71">
        <div class="frame-654"><div class="status inter-semi-bold-black-12">Status</div></div>
        <div class="frame-716">
            <div class="frame-373">
                <div class="rectangle-12"></div>
                <div class="frame-654-1"><div class="actives inter-normal-chetwode-blue-12px">Actives</div></div>
            </div>
            <div class="frame-70">
                <div class="rectangle-12-1"></div>
                <div class="frame-654-1"><div class="inactives inter-normal-black-12px">Inactives</div></div>
            </div>
        </div>
    </div>
</div>
