.pagination {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    width: fit-content;
}

img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

button {
    background: none;
    outline: none;
    border: none;
    font-family: "Lexend Deca";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 51px;
    width: 52px;
    height: 52px;
}

.pagination__page-button {
    color: var(--text-200, #757574);
}

.active {
    border-radius: 16px;
    background: var(--primary-900, #7079F4);
    color: white;
    width: 52px;
    height: 52px;
}
