button {
    --width: 19px;
    --height: 18px;
    --color-active: #ff002e;
    --color-inactive: #000;
    --border-color: white;

    background: none;
    border: none;
}

.heart {
    position: relative;
    width: var(--width);
    height: var(--height);
    opacity: 0.7;
    filter:
        drop-shadow(2px 2px 0 var(--border-color))
        drop-shadow(4px -2px 0 var(--border-color))
        drop-shadow(-1px 3px 0 var(--border-color))
        drop-shadow(-2px -2px 0 var(--border-color));
    transition: all 300ms linear;
}

    .heart::before,
    .heart::after {
        content: "";
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        border-radius: 50px 50px 0 0;
        background: #000;
        transition: all 300ms linear;
    }

    .heart::before {
        left: 50%;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
    }

    .heart::after {
        left: 0;
        transform: rotate(45deg);
        transform-origin: 100% 100%;
    }

    .heart.active {
        opacity: 1;
        animation: wiggle 1s linear forwards;
        transition: all 300ms linear;
    }

        .heart.active::before,
        .heart.active::after {
            animation: change_color 1s linear forwards;
            transition: all 300ms linear;
        }


@keyframes wiggle {
    0% {
        opacity: 0.7;
        transform: scale(1);
    }

    20%, 30% {
        opacity: 0.7;
        transform: scale(0.7);
    }

    40%, 60% {
        opacity: 1;
        transform: scale(1.4) rotate(10deg);
    }

    50%, 70% {
        transform: scale(1.4) rotate(-10deg);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes change_color {
    0%, 30% {
        background: #000;
    }

    40%, 100% {
        background: #ff002e;
    }
}
