.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-200);
    gap: 0.5rem;
    flex-shrink: 0;
    border: none;
    color: var(--primary-10, #FCFCFF);
    padding: 0.75rem 1rem;
    /* Label */
    font-family: "Poppins";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 150% */
    transition: all .2s ease-in-out;
    border-radius: 1rem;
    transition: 0.3s;
}

    .button:hover {
        background: var(--primary-400);
    }

    .button a {
        display: inline-flex;
        align-items: center;
    }

        .button a img {
            width: 16px;
        }

.small {
    padding: 0.5rem 1rem;
    width: 100px;
}

.medium {
    padding: 0.5rem 1rem;
    width: 170px;
}

.large {
    width: 17rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 22px;
}

.secondary {
    background: transparent;
    border: 2px solid var(--text-900);
    color: var(--text-900);
    font-family: "Poppins";
}

    .secondary:hover {
        color: var(--text-300);
        border: 2px solid var(--text-300);
    }

.tertiary {
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    background-color: transparent;
    border: none;
    color: #7079F4;
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins";
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    padding: 0 !important;
}

    .tertiary:hover {
        background: none;
    }

.tertiary-options {
    display: flex;
    flex-direction: column;
    color: #3D3D3D;
    width: 140px;
    background-color: #FAFAFA;
    font-size: 14px;
    font-weight: normal;
    font-family: "Poppins";
    align-items: center;
    padding: 0.5rem 0 0 0;
    cursor: pointer;
    border-radius: 0;
}

    .tertiary-options::after {
        content: "";
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100px;
        background-color: #EFEFEF;
        height: 1px;
    }

    .tertiary-options:last-child::after {
        content: none;
    }

    .tertiary-options:first-child {
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .tertiary-options:last-child {
        border-radius: 0 0 0.5rem 0.5rem;
        padding-bottom: 0.5rem;
    }

    .tertiary-options:hover {
        color: #7079F4;
        font-weight: 600;
        background-color: #FFF;
    }

        .tertiary-options:hover::after {
            background: transparent;
        }

.asc {
    transform: rotate(180deg);
}

img {
    transition: transform 0.3s ease-in-out;
}

.mobile-full-width {
    width: 100%;
}

.mealBtn {
    background: #12D293;
    color: #D7FCF0;
    border-radius: .5rem;
    padding: .5rem 1rem;
}

    .mealBtn:hover {
        background: #12D293 !important;
    }

@media only screen and (max-width: 768px) {
    .mobile-full-width {
        width: 100%;
    }
}
