/* screen - frame-802 */

.modal-popup::deep {
    display: grid;
    background-color: #808080b2 !important;
    padding: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    position: fixed;
    bottom: 5%;
    top: 5%;
    z-index:9999;
}

.frame-802 {
    align-items: center;
    border: 1px none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    min-height: 147px;
    width: 40vw;
    height: fit-content;
    position: relative;
    background: white;
    border-radius: 1vw;
    padding:2vw;
}

    .frame-802 .container-grupo-empresa-modal {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 8px;
        min-height: 69px;
        width: 100%;
    }

    .frame-802 .esta-data-no-possui-agenda {
        color: var(--black);
        font-family: var(--font-family-inter);
        font-size: var(--font-size-xl);
        font-weight: 600;
        height: 23px;
        letter-spacing: 0;
        line-height: normal;
        margin-top: -1px;
        min-width: 272px;
        text-align: center;
    }

    .frame-802 .para-realizar-agenda {
        color: #ababab;
        font-family: var(--font-family-inter);
        font-size: var(--font-size-m);
        font-weight: 400;
        letter-spacing: 0;
        line-height: normal;
        text-align: center;
        width: fit-content;
    }

    .frame-802 .errors-list {
        display:flex;
        align-items:flex-start;
        justify-content:start;
        gap:1vw;
        flex-direction:column;
        list-style:circle;
        font-weight:bold;
        font-size:16px;

    }

    .frame-802 .errors-list .error-property-name {
        color:red;
    }
    
    .frame-802 .container-buttons {
    align-items: center;
    display: flex;
    gap: 92px;
    justify-content: center;
    min-width: 320px;
}

    .frame-802 .cancelar {
        color: #ababab;
        font-family: var(--font-family-inter);
        font-size: var(--font-size-m);
        font-weight: 500;
        letter-spacing: 0;
        line-height: normal;
        margin-bottom: 2.4px;
        min-height: 19px;
        min-width: 69px;
    }
    .frame-802 .finalizar-e-salvar:hover {
        opacity:.7;
    }
    
    .frame-802 .finalizar-e-salvar:hover,
        .frame-802 .cancelar:hover {
            cursor: pointer;
        }

    .frame-802 .cancelar:hover {
        color: var(--chetwode-blue);
    }

    .frame-802 .finalizar-e-salvar {
        align-items: flex-start;
        background-color: #C22133;
        border-radius: 4px;
        display: flex;
        height: 54px;
        min-width: 160px;
    }

    .frame-802.error .finalizar-e-salvar {
        background-color: red;
    }

    .frame-802 .criar-agenda {
        color: #ffffff;
        font-family: var(--font-family-inter);
        font-size: var(--font-size-l);
        font-weight: 600;
        letter-spacing: 0;
        line-height: normal;
        min-height: 22px;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
        display:flex;
    }
    .frame-802 .criar-agenda {
        width:100%;
        height:100%;
    }
    
    .screen a {
    display: contents;
    text-decoration: none;
}

.container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
}

    .container-center-horizontal > * {
        flex-shrink: 0;
        pointer-events: auto;
    }

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

.error-item{
    text-align:left;
    margin-top:5px;
}



@media(max-width:768px) {
    .conteudo-modal {
        width: 100%;
        height: 80%;
        overflow: auto;
    }

    .frame-802 {
        width: 100%;
    }
}