<div class="stars @(OnlyShow == true ? "desactive" : "active")">
    <img src="/imgs/star-@(this.GetSelectedClass(1)).svg" @onclick="(x) => OnStarClicked(1)" />
    <img src="/imgs/star-@(this.GetSelectedClass(2)).svg" @onclick="(x) => OnStarClicked(2)" />
    <img src="/imgs/star-@(this.GetSelectedClass(3)).svg" @onclick="(x) => OnStarClicked(3)" />
    <img src="/imgs/star-@(this.GetSelectedClass(4)).svg" @onclick="(x) => OnStarClicked(4)" />
    <img src="/imgs/star-@(this.GetSelectedClass(5)).svg" @onclick="(x) => OnStarClicked(5)" />
    
</div>

@code {
    [Parameter] public int Value { get; set; }
    [Parameter] public EventCallback<int> ValueChanged { get; set; }
    [Parameter] public bool OnlyShow { get; set; }

    string GetSelectedClass(int value) => this.Value >= value ? "selected" : "unselected";

    async Task OnStarClicked(int value)
    {
        if (OnlyShow == false)
        {
            this.Value = value;
            await this.ValueChanged.InvokeAsync(this.Value);
            this.StateHasChanged();
        }
    }

}
