.text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

    .text.disabled {
        opacity: .6;
        color: var(--primary-brown-300);
    }

        .text.disabled input {
            outline: none !important;
            border: 2px solid var(--primary-brown-300);
            transition: all 0.3s;
        }

    .text label {
    }

    .text label {
        color: var(--primary-brown-950);
        font-family: "Poppins";
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        height: 30px;
    }

    .text input {
        padding: 1rem 1.5rem;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        overflow: hidden;
        color: var(--primary-brown-950);
        text-overflow: ellipsis;
        /* Paragraph */
        font-family: "Poppins";
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        /* 150% */
        border-radius: 1.5rem;
        border: 2px solid var(--secondary-orange-600);
        background: transparent;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: all 0.3s;
    }

        .text input:focus {
            outline: none !important;
            border: 2px solid var(--primary-brown-900);
        }

        .text input.small {
            width: 252px;
        }

        .text input.medium {
            width: 400px;
        }

        .text input.large {
            width: 600px;
        }

        .text input.max {
            width: 100%;
        }

.mealDescription {
    background: #F7F7F7 !important;
    color: #3A3A3A !important;
    border-radius: .5rem !important;
}

    .mealDescription:focus {
        outline: none !important;
        border: 2px solid black !important;
        box-shadow: none !important;
    }
