using Lazy.Crud.Core.Domain.Aggregates.CommonAgg.Entities;
using Lazy.Crud.Core.Domain.Attributes.T4;
using System.ComponentModel.DataAnnotations.Schema;

namespace Lazy.Crud.<#=myName#>.Domain.Aggregates.UsersAgg.Entities
{
    public partial class User : Entity
    {
    }
}
<# SaveOutputToSubFolder(
    folderName: $"Aggregates/UsersAgg/Entities/", 
    outputFileName: @$"User.cs", 
    recreateFileIfExists: false); #>