using Niu.Nutri.Core.Domain.Aggregates.CommonAgg.Entities;
using Niu.Nutri.Core.Domain.Attributes.T4;
using System.ComponentModel.DataAnnotations.Schema;

namespace Niu.Nutri.<#=myName#>.Domain.Aggregates.UsersAgg.Entities
{
    public partial class User : Entity
    {
    }
}
<# SaveOutputToSubFolder(
    folderName: $"Aggregates/UsersAgg/Entities/", 
    outputFileName: @$"User.cs", 
    recreateFileIfExists: false); #>