.date-time-picker {
    display: flex;
    align-items: center;
    gap: 8px;
}

.time-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #f8f8f8;
    color: #333;
}

.separator {
    font-size: 24px;
    color: #333;
}

.time-input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.date {
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.date_inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

    .date_inputs span {
        font-weight: bold;
    }
