<div class="active-grupo">
    <div class="container-text-2"><div class="status-do-grupo valign-text-middle"><#=myDisplayName#></div></div>
    <SfSwitch @bind-Checked="Model.<#=myName#>" OnLabel="Active" OffLabel="Inactive"></SfSwitch>
</div>