<div class="input-secondary-item">
    <div class="container-text-2"><div class="status-do-grupo valign-text-middle"><#=myDisplayName#></div></div>
	<SwitchInput @bind-Value="Model.<#=myName#>" />
</div>