<# SaveOutputToSubFolder($"{aggName}Agg/{entity.Name}/Cadastro", @$"{entity.Name}{currentStep}.razor.css", true); #>
@inherits BaseCadastro
<#
	var p = myProps.FirstOrDefault(x=>x.Value.Type.AsString.Split('.').Last().EndsWith("Address"));
#>
<AddressFormFields Model="this.Model.<#=p.Key#>" />