<#@ output extension=".generated.bat" #>
<#@ import namespace="System.Threading.Tasks" #>
<#@ include file="..\project.tt" #>
<#
	var now = DateTime.Now;
var project = FindProject("Domain");
#>
<# 
	var aggName = project.Name.Split('.').FirstOrDefault();
	var name = aggName.Replace("Agg","");
#>
dotnet ef migrations add <#= $"{now.Year}_{now.Month}_{now.Day}_{now.Hour}_{now.Minute}_{now.Second}" #> -c <#= aggName #>Aggcontext -p <#=@$"..\"#><#=name#>.Infra.Data
