.form {
    position: relative;
    max-width: fit-content;
}

    .form label {
        color: var(--text-900);
        font-family: "Poppins";
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 27px;
        padding-left: 5px;
        margin-bottom: 0.5rem;
        width: 200px;
        height: 30px;
    }

    .form input {
        padding: 1rem 1.5rem;
        font-size: 1rem;
        line-height: 1.5rem;
        color: var(--text-900);
        background-color: var(--background-1);
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        border-radius: 24px;
        border: 2px solid var(--primary-900);
        width: 100%;
        transition: all 0.3s;
    }


    .form.focus-in input {
        outline: none !important;
        border: 2px solid var(--primary-900);
        border-radius: 24px 24px 0px 0px;
    }

    .form input.small {
        width: 252px;
    }

    .form input.medium {
        width: 400px;
    }

    .form input.large {
        width: 600px;
    }

.input-area {
    display: flex;
    flex-direction: column;
    position: relative;
}

    .input-area > span {
        position: relative;
    }

.list-options {
    z-index: 100;
    transition: all 300ms ease-in-out;
    font-family: "Lexend Deca";
    position: absolute;
    top: 100%;
    color: black;
    border-radius: 0 0 24px 24px;
    padding: 8px 0 24px 8px;
    background: var(--text-10);
}

    .list-options ul {
        list-style: none;
        padding: 0;
        margin: 0;
        overflow-y: auto;
        width: 100%;
        height: 100%;
    }

.arrow_default {
    cursor: pointer;
    right: 20px;
    position: absolute;
    top: 50%;
    width: 16px;
    height: 16px;
}

    .arrow_default.open {
    }

    .arrow_default.close {
        right: 50px;
    }

        .arrow_default.close:hover {
            cursor: pointer;
            opacity: .7;
            fill: red;
        }

.arrow_active {
    transform: rotate(0deg) translateY(-50%);
}

.arrow_inactive {
    transform: rotate(180deg) translateY(50%);
}

.options_active {
    width: 100%;
    height: 200px;
    opacity: 1;
}

.options_inactive {
    width: 100%;
    height: 1px;
    display: none;
}

.option {
    display: flex;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    text-align: left;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-900);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--text-10);
    border-radius: 10px;
}


.option:hover {
    background-color: var(--primary-900);
    color: white;
    cursor: pointer;
}

