input {
    position: relative;
    width: 2.125rem;
    height: 1.25rem;
    border: solid 2px var(--primary-900);
    -webkit-appearance: none;
    background-color: var(--background-1);
    outline: none;
    border-radius: 15px;
    transition: background .5s;
    cursor: pointer;
}

    input:before {
        content: '';
        position: absolute;
        top: 0.3px;
        left: 2px;
        width: calc(2.125rem *0.46);
        object-fit: contain;
        aspect-ratio: 1/1;
        transform: scale(0.85);
        border-radius: 50%;
        background: var(--primary-900);
        transition: .5s;
    }

    input:checked {
        background-color: var(--primary-900);
        border: solid 2px var(--primary-900);
    }

        input:checked:before {
            left: calc(50% - 2px);
            background: var(--background-1);
        }


