<#GetAttributesDict(field.Value).TryGetValue("ListingPicker", out attrValues);#>
<div class="input-secondary-item">
    <ListingPicker 
        Title="<#=attrValues?.Count()>0? attrValues[0].Value.Replace("\"","") : myName#>" 
        Model="Model.<#=myName#>"
        T="<#=myTypeFullName#>DTO" 
        TListining="<#=listiningName#>DTO" />
</div>