<# foreach (var namespc in entitiesT4.GroupBy(p => p.Namespace.FullName)) { #>
using <#= namespc.Key.Replace("Entities", "AppServices").Replace("Domain","Application") #>;
<# } #>
<# foreach (var namespc in entities.GroupBy(p => p.Namespace.FullName)) { #>
using <#= namespc.Key.Replace("Entities", "Repositories").Replace("Domain","Infra.Data") #>;
using <#= namespc.Key.Replace("Entities", "Repositories") #>;
<# } #>
<# foreach (var namespc in GetServices().GroupBy(p => p.Namespace.FullName)) { #>
using <#= namespc.Key #>;
using <#= namespc.Key.Replace(".Interfaces","") #>;
<# } #>
namespace <#= GetCurrentProject().Name #>;
using Builder.Infra.IoC.Extensions;
using Builder.Api.Middlewares;
using Infra.Data.Context;
<# if(entitiesT4?.Any() == true) { #>
using Domain.Aggregates.<#= AggName #>.CommandHandlers;
<# } #>

public partial class IoCFactory : IBaseIoC {
	string connectionString;
	partial void ConfigureFactories();
	partial void ConfigureValidators();
	partial void ConfigureAdditionalAppServices(IServiceCollection services);
	partial void ConfigureAdditionalRepositories();
	partial void PreConfigureDatabase(IServiceCollection services, IConfiguration configuration);

    private static IoCFactory _current;
	public static IoCFactory Current { get { return _current ?? (_current = new IoCFactory()); } }

    public void Configure(IConfiguration configuration, IServiceCollection services) {
		ConfigureFactories();
		ConfigureMediatR(services);
		ConfigureAppServices(services);
		ConfigureRepositories(services);
		ConfigureDatabase(services, configuration);
		ConfigureMappings();
		ConfigureMiddleware(services);
		ConfigureControllers(services);
    }

	void ConfigureControllers(IServiceCollection services){
		services.AddControllers().AddNewtonsoftJson(options => {
			options.SerializerSettings.ContractResolver = new DefaultContractResolver();
			var settings = options.SerializerSettings;
			settings.DateFormatString = "yyyy-MM-ddTHH:mm:ss";
			settings.ContractResolver = new CamelCasePropertyNamesContractResolver();
			settings.MissingMemberHandling = MissingMemberHandling.Ignore;
			settings.NullValueHandling = NullValueHandling.Ignore;
			settings.PreserveReferencesHandling = PreserveReferencesHandling.None;
			settings.DefaultValueHandling = DefaultValueHandling.Ignore;
			settings.Formatting = Formatting.Indented;
			settings.PreserveReferencesHandling = Formatting.Indented == Formatting.Indented ? PreserveReferencesHandling.Objects : settings.PreserveReferencesHandling;
			options.AllowInputFormatterExceptionMessages = false;
		});
	}

	void ConfigureMiddleware(IServiceCollection services){ services.AddScoped<ErrorHandlingMiddleware>(); }
	void ConfigureMappings(){ MapperFactory.Setup(this.GetType().Namespace.Replace("Infra.IoC","Domain")); }
	void ConfigureMediatR(IServiceCollection services){
        services.AddMediatR((x) => { x.RegisterServicesFromAssembly(typeof(BaseCommand).GetTypeInfo().Assembly); });
<# foreach(var entity in entitiesT4) { #>
        services.AddMediatR((x) => { x.RegisterServicesFromAssembly(typeof(Base<#= AggName #>CommandHandler<>).GetTypeInfo().Assembly); });
		<#break;#>
<# } #>
	}
	void ConfigureDatabase(IServiceCollection services, IConfiguration configuration){
		PreConfigureDatabase(services, configuration);
		if(string.IsNullOrWhiteSpace(connectionString)) connectionString = configuration.GetConnectionString("DefaultConnection")!;
		services.AddDbContext<<#= AggName #>Context>(options => options.UseNpgsql(connectionString));
	}
	void ConfigureRepositories(IServiceCollection services){
<# foreach(var entity in entities) { #>
        services.AddScoped<I<#= entity.Name #>Repository, <#= entity.Name #>Repository>();
<# } #>
		ConfigureAdditionalRepositories();
	}
	void ConfigureAppServices(IServiceCollection services){
<# foreach(var entity in entitiesT4) { #>
        services.AddScoped<I<#= entity.Name #>AppService, <#= entity.Name #>AppService>();
<# } #>
		ConfigureAdditionalAppServices(services);
	}
}
<# SaveOutputToSubFolder(folderName: GetGenerationOutputPath(), outputFileName: @$"{AggName}.IoCFactory.cs", recreateFileIfExists: true); #>